@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    ViewData["ActivePage"] = "Employees";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Users</h1>
</div>
