@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    Layout = "~/Pages/Shared/Layouts/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-page="/Dashboard/Index" class="btn btn-success">Back to Dashboard</a>
</div>
