@model string
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor Accessor
@{
    var currentRoute = Accessor.HttpContext.Request.Path.Value.ToLower();
}
<li class="nav-item">
    <a class="nav-link @(currentRoute == "/settings" ? "active" : "" )" asp-page="/Settings/Index">
        <i class="nav-icon fa fa-solid fa-gear"></i>
        <p>Settings</p>
    </a>
</li>
